.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4%;
}

.navbar .logo {
  width: max(6%, 50px);

  /* border: 2px solid black; */
  border-radius: 50%;
  height: 70px;
}

.navbar .profile {
  width: 40px;
}
